li{
    font-weight: bold;
}
#head{
    background-color:#4CAF50;
    display: block;
    height: 140px;
    font: 30px "Century Gothis", Futura, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
}

body{
    background-color: azure;
}

.wrapper {
    position: relative;
    display: block;
    width: 500px;
    text-align: center;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    font: 20px;
}

input {
    font-weight: bold;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.sprinkle{
    position: relative;
    left: 280px;
    bottom: 55px;

}
